.city {
    float: left;
    width: 650px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #9494b8;
    border-radius: 25px;
}

.right {
    text-align: right;
    margin-left: 10px;
}

.submit {
    width: 200px;
    margin: auto;
    margin: 10px;
    padding: 10px;
}

.center {
    width: 70%;
    margin: auto;
    padding: 5px;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
