
.center {
    margin: auto;
    width: 100%;
    padding: 5px;
}

.city {
   float: left;
   margin: 10px;
   padding: 10px;
   width: 650px;
   height: 100px;
   border-radius: 25px;
   border: 1px solid #9494b8;

}

.submit {
	margin: auto;
	width: 650px;
	padding: 10px;
  margin: 10px;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
