
.center {
    margin: auto;
    width: 100%;
    padding: 5px;
}

.city {
   float: left;
   margin: 10px;
   padding: 10px;
   width: 650px;
   height: 100px;
}

.submit {
	width: 650px;
	padding: 10px;
  margin: 10px;
  position:relative;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
