<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	   <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <title>Bot</title>
</head>
<body>
<form action="/submit" method="post">
	<div class="center">
    <div>
  		<table id="table1Level1">
  				<tr id="1tr1Level1">
  					<td id="td1Level1">
  					&bull;
  					<input type="text" id="1Level1Nom" name="1Level1Nom" size="20" placeholder="Level 1 Name">
  					<input type="text" id="1Level1Keyword1" name="1Level1Keyword" size="20" placeholder="keyword1, keyword2">
  					<input type="text" id="1Level1Action" name="1Level1Action" size="20" placeholder="Action">
  					<button id="1Level1addbtn" type="button" onclick="addLevel1(this.id);">add level 1</button>
            </td>
          </tr>
          <tr id="2tr1Level1">
            <td id="td1Level11Level2">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
              <button id="1Level11Level2addbtn" type="button" onclick="addLevel2(this.id);">add level 2</button>
            </td>
          </tr>
  		</table>
    </div>
  <br><br>
  <input class="submit" class="center" align="bottom" type="submit" value="Export Json">
	</div>

</form>
<script src="/static/js/javascript.js"></script>
</body>
</html>
