<tr id="1tr{{ counterLevel1 }}Level1">
	<td id="1td{{ counterLevel1 }}Level1">
		&bull;
		<input type="text" id="{{ counterLevel1 }}Level1Nom" name="{{ counterLevel1 }}Level1Nom" size="20" placeholder="Level 1 Name">
		<input type="text" id="{{ counterLevel1 }}Level1Keyword1" name="{{ counterLevel1 }}Level1Keyword" size="20" placeholder="keyword1, keyword2">
		<input type="text" id="{{ counterLevel1 }}Level1Action" name="{{ counterLevel1 }}Level1Action" size="20" placeholder="Action">
		<button id="{{ counterLevel1 }}Level1rmvbtn" type="button" onclick="rmvLevel1(this.id);">remove</button>
	</td>
</tr>
ici
<tr id="2tr{{ counterLevel1 }}Level1">
	<td id="2td{{ counterLevel1 }}Level11Level2">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
			<button id="{{ counterLevel1 }}Level11Level2addbtn" type="button" onclick="addLevel2(this.id);">add</button>
	</td>
</tr>
