<tr id="tr{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4">
	<td id="td{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4Nom" class="form-group" name="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4Nom" size="20" placeholder="Level 4 Name">
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4Keyword1" class="form-group" name="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4Keyword" size="20" placeholder="keyword1, keyword2">
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4Action" class="form-group" name="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3{{ lvl4 }}Level4Action" size="20" placeholder="Action">
	</td>
</tr>
