<tr id="tr{{ counterLevel2 }}Level2">
	<td id="td{{ counterLevel2 }}Level2">
	&bull;
	<input type="text" id="{{ counterLevel2 }}Level2Nom" name="Level2" size="20" placeholder="Level Name">
	<input type="text" id="{{ counterLevel2 }}Level2Keyword1" name="Level2" size="20" placeholder="Keyword">
	<input type="text" id="{{ counterLevel2 }}Level2Action" name="Level2" size="20" placeholder="Action">
	<button id="{{ counterLevel2 }}Level2rembtn" type="button" onclick="removeLevel2(this.id);">remove</button>
	</td>
</tr>
