<tr id="tr{{ lvl1 }}Level1{{ lvl2 }}Level2">
	<td id="td{{ lvl1 }}Level1{{ lvl2 }}Level2">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2Nom" class="form-group" name="{{ lvl1}}Level1{{ lvl2 }}Level2Nom" size="20" placeholder="Level 2 Name">
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2Keyword1" class="form-group" name="{{ lvl1}}Level1{{ lvl2 }}Level2Keyword" size="20" placeholder="keyword1, keyword2">
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2Action" class="form-group" name="{{ lvl1}}Level1{{ lvl2 }}Level2Action" size="20" placeholder="Action">
	</td>
</tr>
ici
<tr id="2tr{{ lvl1 }}Level1{{ lvl2 }}Level2">
	<td id="2td{{ lvl1 }}Level1{{ lvl2 }}Level2">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
			<button id="{{ lvl1 }}Level1{{ lvl2 }}Level2addbtn" class="btn btn-default" type="button" onclick="addLevel3(this.id);">add level 3</button>
	</td>
</tr>
