<tr id="tr{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3">
	<td id="td{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3Nom" class="form-group" name="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3Nom" size="20" placeholder="Level 3 Name">
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3Keyword1" class="form-group" name="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3Keyword" size="20" placeholder="keyword1, keyword2">
	<input type="text" id="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3Action" class="form-group" name="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3Action" size="20" placeholder="Action">
	</td>
</tr>
ici
<tr id="2tr{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3">
	<td id="2td{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
			<button id="{{ lvl1 }}Level1{{ lvl2 }}Level2{{ lvl3 }}Level3addbtn" class="btn btn-default" type="button" onclick="addLevel4(this.id);">add level 4</button>
	</td>
</tr>
