<tr id="1tr{{ lvl1 }}Level1">
	<td id="1td{{ lvl1 }}Level1">
		&bull;
		<input type="text" id="{{ lvl1 }}Level1Nom" class="form-group" name="{{ lvl1 }}Level1Nom" size="20" placeholder="Level 1 Name">
		<input type="text" id="{{ lvl1 }}Level1Keyword1" class="form-group" name="{{ lvl1 }}Level1Keyword" size="20" placeholder="keyword1, keyword2">
		<input type="text" id="{{ lvl1 }}Level1Action" class="form-group" name="{{ lvl1 }}Level1Action" size="20" placeholder="Action">
		<button id="{{ lvl1 }}Level1rmvbtn" class="btn btn-default" type="button" onclick="rmvLevel1(this.id);">remove</button>
	</td>
</tr>
ici
<tr id="2tr{{ lvl1 }}Level1">
	<td id="2td{{ lvl1 }}Level11Level2">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
			<button id="{{ lvl1 }}Level11Level2addbtn" class="btn btn-default" type="button" onclick="addLevel2(this.id);">add level 2</button>
	</td>
</tr>
