<tr id="tr{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2">
	<td id="td{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
	<input type="text" id="{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2Nom" name="{{ counterLevel1}}Level1{{ counterLevel2 }}Level2Nom" size="20" placeholder="Level 2 Name">
	<input type="text" id="{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2Keyword1" name="{{ counterLevel1}}Level1{{ counterLevel2 }}Level2Keyword" size="20" placeholder="keyword1, keyword2">
	<input type="text" id="{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2Action" name="{{ counterLevel1}}Level1{{ counterLevel2 }}Level2Action" size="20" placeholder="Action">
	</td>
</tr>
ici
<tr id="2tr{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2">
	<td id="2td{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;
			<button id="{{ counterLevel1 }}Level1{{ counterLevel2 }}Level2addbtn" type="button" onclick="addLevel3(this.id);">add</button>
	</td>
</tr>
